html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

div {
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  height: 3.4rem;
  line-height: 1.4;
  margin-top: 1rem;
}

.logo img {
  height: 1.5rem;
  padding: 0 0.5rem 0 2rem;
  vertical-align: middle;
}

.logo span {
  vertical-align: middle;
  padding: 1rem 0.5rem;
}

.nav span {
  padding: 1rem 2rem 1rem 0;
}

.banner {
  display: flex;
/*  flex-direction: column;*/
  height: 31rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline {
  background-color: white;
  display: block;
  padding: 1.5rem 5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.services {
  display: flex;
  justify-content: center;
}

.service {
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  text-align: center;
  vertical-align: bottom;
  line-height: 1.4;
  }

.image {
  height: 5rem;
}

#exams {
  width: 3.5rem;
  height: auto;
}

#fittings {
  width: 5rem;
  height: auto;
}

#delivery {
  width: 5rem;
  height: auto;
}

.description {
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
  line-height: 1.4;
}

.item {
  width: 35%;
  margin: 2rem 2.5%;
}

.item-title {
  display: block;
  padding: 0.5rem 0 0.5rem 1.25rem;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 10rem;
  text-align: left;
  vertical-align: middle;
  margin: 0.5rem 0;
}

p {
  padding: 0.5rem 0;
}

footer {
  background-color: azure;
  display: flex;
  line-height: 1.4;
}

.copyright {
  padding: 4rem 0 4rem 4rem;
}

.copyright img {
  height: 1.5rem;
  vertical-align: middle;
  margin-right: 1rem;
}

.copyright span {
  vertical-align: middle;
}
